@font-face {
    font-family: "airstrikeregular";
    src: url("../fonts/airstrike-webfont.woff2") format("woff2"),
      url("../fonts/airstrike-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "poppinsregular";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  }
body {
    background-color: #212121 !important;
    background: #212121 !important;
    color: #FAFAFA !important;
}

header {
    background-image: url(https://images.pexels.com/photos/19877487/pexels-photo-19877487/free-photo-of-madera-ligero-amanecer-paisaje.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 465px;
}
.header-data img {
    margin-top: -140px;
}

h1, h2, h3 {
    font-family: 'airstrikeregular' !important;
}
h4, h5, h6 {
    font-family: 'poppinsregular', Arial, Helvetica, sans-serif;
}
p {
    font-family: 'poppinsregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* Font Size*/
.fs-10 {
    font-size: 5rem;
}



/* ViewS CSS */
.hidden-view {
    display: none;
}
